@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-cursor {
  display: inline;
  animation: blink 1s infinite;
}

:root {
  font-family: 'roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fffffffa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #4dc39e;
  text-decoration: inherit;
}
a:hover {
  color: #da9808;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
  padding: 1rem;
}

/* Mobile-first header */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.logo {
  max-width: 150px;
  max-height: 150px;
}

.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  font-size: 1.45em;
}

ul {
  display: flex;
  flex-direction: row; /* Ensures links are in a row on mobile */
  gap: 1em;
  list-style: none;
  padding-inline-start: 0px
}

li {
  text-align: center;
}

.change-lng-button {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg'); /* Spanish flag */
  background-size: cover; /* Cover the entire button */
  background-position: center;
  border: none;
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display inline-block */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  transition-duration: 0.4s; /* Transition effect */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Shadow behind */
  border-radius: 5px; /* Rounded corners */
}

.change-lng-button:hover {
  opacity: 0.8; /* Slight transparency on hover */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

/* Heroe section */

.heroe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroe h1 {
  margin-bottom: -10px;
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1.25em;
  font-weight: 200;
}

.flat-image {
  margin-top: -60px;
  margin-bottom: -50px;
  max-width: 376px;
  max-height: 376px;
  max-width: 100%;
  height: auto;
}

/* Common button styles */

.heroe-buttons {
  display: inline-block;
  margin-top: 1rem;
}

.heroe-button {
  background-color: #4dc39e; /* Green background */
  border: none;
  color: rgb(0, 0, 0); /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px; /* Margin */
  transition-duration: 0.4s; /* Transition effect */
  cursor: pointer;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2); /* Shadow behind */
  border-radius: 5px; /* Rounded corners */
}


.heroe-button:hover {
  background-color: #42a69a; /* White background on hover */
  color: white; /* Green text on hover */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

/* Specific styles for the contact button */
.heroe-button-contact {
  background-color: #e3ad19de; /* Orange background */
}

.heroe-button-contact:hover {
  background-color: #553f02de; /* White background on hover */
  color: #ffffff; /* Orange text on hover */
}

/* Larger screens adjustments */
@media (min-width: 768px) {
  .App-header {
    flex-direction: row;
    justify-content: center; /* Adjusted */
  }

  .logo {
    margin: 0 1rem 0 0; /* Adjusted */
  }

  .nav {
    font-size: 1.5em;
    flex-direction: row; /* Adjusted */
    gap: 2rem; /* Adjusted */
  }

  .change-lng-button {
    margin-left: auto; /* Adjusted */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}